<h1>Cloudy drive</h1>
<p>Welcome to cloudy drive, a stripped down version of Google
  Drive. :)</p>
<p>This is part of the projects of The Odin Project course</p>
<div class="d-flex gap-5 mt-5"> <a href="/users/sign-in"> <button type="button" class="btn btn-dark">Log In</button> </a>
  <a href="/users/sign-up"> <button type="button" class="btn btn-dark">Sign Up </button> </a>
</div>